<div class="logotitlebar">
	<div class="row">
		<div class="col-md-3">
			<div class="logo-sec">
				<a href=""><img src="assets/images/logo.png" /></a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="pagetitel-sec">
				<h3>Prime Care</h3>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<p class="text-center heading">We Hope To See You Soon!</p>
			<p class="text-center para">
				We have saved your information and quotation.
			</p>
			<p class="text-center para">
				Please remember and input this Reference Code upon proceeding to
				your Group Plan Application.
			</p>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<input
						style="text-align: center"
						type="text"
						id="fname"
						name="fname"
						placeholder="ASDFJKL143"
					/>
					<p (click)="copyCode()" id="copycode">
						Copy this reference code
					</p>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row btnsec">
				<div class="col-1"></div>

				<div class="col-6">
					<button class="btn outlinedbtn text-left btn-back">
						<i
							_ngcontent-bfl-c132=""
							class="material-icons"
							tabindex="0"
							ng-reflect-router-link="/group"
							>arrow_backward</i
						>
						BACK TO HOME PAGE
					</button>
				</div>
				<div class="col-5">
					<button type="button" class="btn">
						CONTINUE TO APPLY<span class="material-icons">
							arrow_forward</span
						>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
