@model UserPasswordViewModel
@{
	ViewData["Title"] = "ChangePassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-8 offset-md-2 col-sm-12">
		<div class="card">
			<div class="card-content">
				<div class="card-body">

					<div class="tab-pane" id="account-vertical-password">
						<form asp-action="ChangePassword">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<p style="text-align:center;">     <span style="color:red;"><b>@ViewBag.error</b></span></p>
							<input type="hidden" asp-for="Id" />
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<div class="controls">
											<label for="OldPassword">Old Password</label>
											<input type="password" class="form-control" name="OldPassword" required placeholder="Old Password" data-validation-required-message="This old password field is required" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<div class="controls">
											<label for="NewPassword1">New Password</label>
											<input type="password" name="NewPassword1" class="form-control" placeholder="New Password" required data-validation-required-message="The new password field is required" minlength="8" maxlength="256" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<div class="controls">
											<label for="NewPassword2">
												Retype New
												Password
											</label>
											<input type="password" name="NewPassword2" class="form-control" required data-validation-match-match="newPassword1" placeholder="New Password" data-validation-required-message="The new password field is required" minlength="8" maxlength="256" />
										</div>
									</div>
								</div>
								<div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
									<button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">
										Save
										changes
									</button>
									<button type="reset" class="btn btn-outline-warning">Cancel</button>
								</div>
							</div>
						</form>
					</div>



				</div>
			</div>
		</div>
	</div>
</div>
