<!-- <app-prime-secure-lite-header></app-prime-secure-lite-header> -->
<div class="mainpagewrap">
	<div class="row mx-0">
		<div class="col-md-12 p-0">
			<div class="leftwrapsection">
				<div class="mainwizard">
					<div class="row">
						<div class="col-md-12">
							<div class="stepdetail">
								<div class="pagetitles">
									<h1>
										Thank You for Your Interest in <br>Prime
										Secure Lite
									</h1>
									<h5 class="my-5">
										Upon checking your responses so far, we
										will need to get in touch with you to get more
										information. Please expect an InLife
										representative to contact you through
										any of the contact details you have
										provided.
									</h5>
									<h5 class="mb-3">
										In the meantime, you may click on the
										links below to check out other InLife
										Health products:
									</h5>
								</div>

								<ul class="feature-list-item financial-protection-list">
									<li class="plan-tab" id="plan-tab-1">
										<div class="feature-list-col">
											<a href="https://www.insularlife.com.ph/wahealth" target="_blank">
												<div class="img-box"><img src="assets/images/w1.jpg"></div>
													<div class="box-content">
													<h5>Wealth Assure Health</h5>
													<p class="mt-2">
														Free yourself from worrying about expensive health-related
														expenses and treatment of serious illnesses.
													</p>
												</div>
											</a>
										</div>
									</li>
									<li class="plan-tab" id="plan-tab-2">
										<div class="feature-list-col">
											<a href="https://www.insularlife.com.ph/wshealth" target="_blank">
												<div class="img-box"><img src="assets/images/w2.jpg"></div>
													<div class="box-content">
													<h5>Wealth Secure Health </h5>
													<p class="mt-2">Have funds to shoulder health-related expenses.</p>
												</div>
											</a>
										</div>
									</li>
									<li class="plan-tab" id="plan-tab-3">
										<div class="feature-list-col">
											<a href="https://www.insularlife.com.ph/shecares" target="_blank">
												<div class="img-box"><img src="assets/images/w3.jpg"></div>
													<div class="box-content">
													<h5>She Cares by Sheroes </h5>
													<p class="mt-2">
														A 3-in-1 solution that addresses the unique health, protection, and investment needs of the Filipina
													</p>
												</div>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="btnsec text-center m-5 pb-5">
		<a class="btn outlinedbtn" [routerLink]="['/']">
			<i class="material-icons">arrow_backward</i>
			BACK TO HOME PAGE
		</a>
	</div>
</div>
