<div class="mainpagewrap prime-care-pay-page">
	<div class="row m-0">
		<div class="col-md-12 p-0">
			<div class="leftwrapsection">
				<div class="mainwizard">
					<div class="row">
						<div class="col-md-3 steplist-wrapper" style="position: relative;">
							<div class="steplist">
								<ul class="steplistmain">
									<li class="active complete">Get a Quote</li>
									<li class="active complete">Apply</li>

									<li class="active">
										Pay
										<ul class="innerlist">
											<li class="active">
												<a href="#">Plan Summary</a>
											</li>
											<li class="">
												<a href="#">Payment</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 main-conten-wrapper">
							<div class="stepdetail">
								<div class="pagetitles">
									<h1>
										Please Review Your Plan Details Before
										Proceeding To Payment.
									</h1>
								</div>

								<!-- step9 strat -->

								<div class="formcoantiner step9">
									<div class="reviewbill">
										<div class="row">
											<div class="col-md-4 titlebill">
												<p>Proposed Insured</p>
											</div>
											<div class="col-md-8 detailbill">

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Insured Name:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p style="word-break: break-all;">
																{{
																	basicInformation.fname
																}}
																{{
																	basicInformation.mname
																}}
																{{
																	basicInformation.lname
																}}
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4 titlebill">
												<p>Personal Information</p>
											</div>
											<div class="col-md-8 detailbill">

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p style="word-break: break-all;">Email Address:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>{{ basicInformation.email }}</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Birthdate:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>{{ calculationInformation.dateofbirth | date }}</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Contact Number:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>
																+63{{
																	basicInformation.mobile
																}}<br />
																{{ landline }}
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4 titlebill">
												<p>Plan Details</p>
											</div>
											<div class="col-md-8 detailbill">

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Product Name:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>Prime Care</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Plan:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p *ngIf="calculationInformation.totalCashBenefit ==='1080000'">
																Plan 30 <span style="display: inline-block;">(&#8369; 1,080,000)</span>
															</p>
															<p
																*ngIf="
																	calculationInformation.totalCashBenefit ===
																	'1800000'
																"
															>
																Plan 50 <span style="display: inline-block;">(&#8369; 1,800,000)</span>
															</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Current Age:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>{{ age.age }}</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Gender:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>{{
																getReferenceDataById(
																	CONSTANTS.GENDER,
																	calculationInformation.gender
																).name
															}}</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Mode of Payment: </p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>{{ calculationInformation.paymentMode }}</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Initial Premium Amount:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p>&#8369; {{ paymentAmount || "0.00" }} </p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Initial Lump Sum Benefit:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p
															*ngIf="
																calculationInformation.totalCashBenefit ===
																'1080000'
															"
														>
															&#8369; 180,000.00
														</p>
														<p
															*ngIf="
																calculationInformation.totalCashBenefit ===
																'1800000'
															"
														>
															&#8369; 300,000.00
														</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Total Monthly Allowance:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p
															*ngIf="
																calculationInformation.totalCashBenefit ===
																'1080000'
															"
															>
																&#8369; 30,000.00
															</p>
															<p
																*ngIf="
																	calculationInformation.totalCashBenefit ===
																	'1800000'
																"
															>
																&#8369; 50,000.00
															</p>
														</div>
													</div>
												</div>

												<div class="row m-0 container">
													<div class="col-6 helper">
														<div class="title">
															<p>Total & Permanent Disability Benefit:</p>
														</div>
													</div>
													<div class="col-6 helper-2">
														<div class="content">
															<p
															*ngIf="
																calculationInformation.totalCashBenefit ===
																'1080000'
															"
														>
															&#8369; 1,080,000.00
														</p>
														<p
															*ngIf="
																calculationInformation.totalCashBenefit ===
																'1800000'
															"
														>
															&#8369; 1,800,000.00
														</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br />
										<p>
											Prime Care is a yearly renewable
											term plan until age 69. Premiums for
											the following years may change based
											on the attained age of the insured.
										</p>
										<p>
											Reminder: <br />
											For monthly payment mode, enrollment
											to our Automatic Charging Option
											(ACO) facility is required for
											payment of succeeding monthly
											premiums using your Mastercard or
											VISA credit card to keep your policy
											in force.
										</p>
										<p class="linkdpay">
											<a
												[href]="sanitize(policy)"
												target="_blank"
												download="Policy Provisions and Exclusions.pdf"
											>
												Download the Policy Provisions
											</a>
											<a
												[href]="sanitize(privacyFile)"
												target="_blank"
												download="Policy on Cancellation and Refund.pdf"
											>
												Click here for Policy on
												Cancellation and Refund
											</a>
											<a
												href="https://www.insularlife.com.ph/customer-charter"
												target="_blank"
												>Link to Customer Charter
											</a>
										</p>
									</div>
									<div class="outerdesclaimer">
										<p>
											If you wish to change anything
											related to your application, please
											select Edit Details. Otherwise,
											please select Pay Now to proceed
											with your payment transaction.
										</p>
									</div>

									<div class="form-row">
										<div class="col-6">
											<div class="btnsec text-left">
												<a
													class="btn outlinedbtn"
													[routerLink]="[
														'/get-quote'
													]"
													[queryParams]="{
														plan: 'plan_50'
													}"
												>
													<i class="material-icons"
														>arrow_backward</i
													>
													Edit Details
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="btnsec text-right">
												<button
													class="btn"
													(click)="sendData()"
													[disabled]="
														health1 !== 'No' ||
														health2 !== 'No' ||
														health3 !== 'No'
													"
												>
													Pay Now
													<i class="material-icons"
														>arrow_forward</i
													>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-3 p-0"></div> -->
	</div>
</div>
