<div class="roghtwrapsection">
	<div class="ps-lit-logo">
		<img src="assets\images\prime-secure-lite-banner-logo.png" alt="prime-care-lite" width="90%"/>
	</div>
	<!-- <h4 *ngIf="status == 0">Your {{ subscription.annual }} Premium Is</h4>
	<h2 *ngIf="status == 0">P{{ subscription.amount || "0.00" }}</h2> -->

	<!-- <h4 *ngIf="status == 1 && subscriptions">
		Your {{ subscriptions.annual }} Premium Is
	</h4> -->
	<!-- <h2 *ngIf="status == 1 && subscriptions">
		P{{ subscriptions.amount || "0.00" }}
	</h2> -->
	<p>YOUR PREMIUM IS</p>
	<h2>₱{{subscriptions?.annual || annual}}</h2>
	<p>
		Prime Secure Lite is a one-year plan. We encourage customers to re-apply
		to extend their coverage
	</p>
	<p>
		<a
			id="policy"
			href="assets/documents/policy-provisions.pdf"
			download="Policy Provisions and Exclusions.pdf"
			>Policy Provisions and Exclusions</a
		>
	</p>
	<p>
		<a href="javascript:void(0)" [routerLink]="['/faqs']" [queryParams]="{ tab: 3}" target="_blank" >Frequently Asked Questions</a>
	</p>
</div>
