<div class="mainpagewrap ps-lite-thankyou-page">
	<div class="row m-0">
		<div class="col-md-12 tabfull p-0">
			<div class="leftwrapsection">
				<!-- <app-prime-secure-lite-header></app-prime-secure-lite-header> -->
				<div class="mainwizard">
					<div class="row">
						<!-- <div class="col-md-3"></div> -->
						<div class="col-md-12">
							<div class="stepdetail">
								<div
									class="pagetitles"
									style="margin-bottom: 55px !important"
								>
									<h1 class="mb-6 thank-you-header">
										Welcome to the Inlife Family.<br />
										Thank You for Availing of {{plan}}.
									</h1>

									<h5
										class="text my-5"
										style="
											color: #070752;
											line-height: 28px;
										"
									>
									You have secured your loved ones by availing of a protection plan that provides financial benefits in the event of many uncertainties we face today.
									</h5>

									<!-- step9 strat -->

									<div class="formcoantiner step9 text-left">
										<div class="reviewbill">
											<ng-container *ngIf="isPrimeSecureLite">
												<pslite-thank-you></pslite-thank-you>
											</ng-container>
											<ng-container *ngIf="isPrimeCare">
												<primecare-thank-you></primecare-thank-you>
											</ng-container>
											
											<br />
											<br />
											<br />
											<p>
												Please be advised that you will
												be automatically enrolled to the
												InLife Customer Portal. Your
												policy contract will be sent to
												you via your Customer Portal
												account within 48 hours (except
												holidays and weekends) if all
												requirements are submitted and
												complete.
											</p>
											<p>
												An InLife representative shall
												get in touch with you, if
												necessary, for questions or
												additional details.
											</p>
											<br />
											<p>
												For inquiries, please get in
												touch with us through
												customercare@insular.com.ph or
												call our Customer Care Hotline
												Numbers (02) 8-876-1-800 for
												Metro Manila or
												1-800-10-INSULAR (1-800-10-4678527) Provincial
												Toll-Free Number. Our business
												hours are from 7am to
												5pm, Mondays to Fridays, except
												Holidays.
											</p>
											<br />
											<br />
											<p>Connect with us:</p>
											<a target="_blank" href="https://www.facebook.com/InsularLifePH">
												<img class="m-2" src="assets\images\fb-icon.png" />
											</a>
											<a target="_blank" href="https://twitter.com/Insular_Life">
												<img class="m-2" src="assets\images\twitter-icon.png" />
											</a>
											<a target="_blank" href="https://www.instagram.com/insular_life/">
												<img class="m-2" src="assets\images\insta-icon.png" />
											</a>
											
										</div>
									</div>

									<div class="form-row text-center mb-5">
										<div class="col-12">
											<div class="btnsec text-center">
												<a class="btn outlinedbtn" (click)="backToHome()">
													<i class="material-icons"
														>arrow_backward</i
													>
													BACK TO HOME PAGE
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
