<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5e0efd5e-98e9-46f7-ad6f-7dabf01b99c5/resourceGroups/InLife/providers/Microsoft.Web/sites/dev-inlife-estore-api</ResourceId>
    <ResourceGroup>InLife</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://dev-inlife-estore-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dev-inlife-estore-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dev-inlife-estore-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dev-inlife-estore-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>