<div class="logotitlebar">
	<div class="row">
		<div class="col-md-3">
			<div class="logo-sec">
				<a href=""><img src="assets/images/logo.png" /></a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="pagetitel-sec">
				<h3>Prime Care</h3>
			</div>
		</div>
	</div>
</div>
<!-- header end here -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2 class="text-center heading">
				We're Sorry To Hear About Your Cancelled Application.
			</h2>
			<p class="text-center para">
				We would like to hear your feedback about it.Tell us more.
			</p>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<div
						style="margin-top: 60px"
						class="custom-control custom-radio"
					>
						<input
							type="radio"
							class="custom-control-input"
							id="defaultUnchecked"
							name="defaultExampleRadios"
							mdbInput
						/>
						<label
							class="custom-control-label radiolabel"
							for="defaultUnchecked"
							>I've experienced a lot bugs or technical
							difficulties.</label
						>
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							class="custom-control-input"
							id="defaultUnchecked"
							name="defaultExampleRadios"
							mdbInput
						/>
						<label
							class="custom-control-label radiolabel"
							for="defaultUnchecked"
							>I can't complete the requirements.</label
						>
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							class="custom-control-input"
							id="defaultUnchecked"
							name="defaultExampleRadios"
							mdbInput
						/>
						<label
							class="custom-control-label radiolabel"
							for="defaultUnchecked"
							>My application does not suit the required
							industry.</label
						>
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							class="custom-control-input"
							id="defaultUnchecked"
							name="defaultExampleRadios"
							mdbInput
						/>
						<label
							class="custom-control-label radiolabel"
							for="defaultUnchecked"
							>Premiums are expensive.</label
						>
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							class="custom-control-input"
							id="defaultUnchecked"
							name="defaultExampleRadios"
							mdbInput
						/>
						<label
							class="custom-control-label radiolabel"
							for="defaultUnchecked"
							>Others, please specify:</label
						>
					</div>
					<textarea
						id="w3review"
						name="w3review"
						rows="5"
						cols="45"
						placeholder="Enter message"
					></textarea>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row btnsec" style="margin-top: 5rem">
				<div class="col-1"></div>

				<div class="col-7">
					<button class="btn outlinedbtn text-left btn-back">
						<i
							_ngcontent-bfl-c132=""
							class="material-icons"
							tabindex="0"
							ng-reflect-router-link="/group"
							>arrow_backward</i
						>
						BACK TO HOME PAGE
					</button>
				</div>
				<div class="col-4">
					<button type="button" class="btn">CONTACT US</button>
				</div>
			</div>
			<br />
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
