<main class="d-flex flex-column align-items-center">
	<section class="section application-reference-section ">
		<div class="container">
			<h2 class="section-header wow fadeInUp">
				Be sure to complete your application soon.
			</h2>
			
			<div class="pending-text-box cursor-pointer mt-5 reference-number">
				{{referenceCode}}
			</div>
			<p class="sub-title wow fadeInUp">
				Retrieve your saved information by entering this reference code when you go back to the InLife Store Group Insurance tab.
			</p>
			<p class="sub-title wow fadeInUp">We have sent this code to your e-mail as well.</p>
			<p class="sub-title wow fadeInUp">For queries, you may reach us thru e-mail: <a href="mailto:corporatesolutions@insular.com.ph">corporatesolutions@insular.com.ph</a> or landline 02 8878 1841.</p>

			<div class="d-flex flex-row controls">
				<button class="btn-outline wow fadeInUp mr-4" (click)="backToHome()">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					<span class="ml-4">back to home page</span>
				</button>
		
				<!-- <button class="btn-fill wow fadeInUp mr-4" (click)="continueApplication()">
					<span class="mr-4">continue to apply</span>
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
					
				</button> -->
			</div>
        </div>
    </section>
</main>
<main class="d-flex flex-column align-items-center">

</main>

