@media (max-width: 470px) {
	.sub-menu {
		.sub-menu-block {
			padding: 0;
	
			.sub-menu-block-img {
				display: flex !important;
			}
		}
	}
	
}

@media (max-width: 380px) {
	.sub-menu {
		.sub-menu-block {
			padding: 0 0 0 20px !important;
	
			.sub-menu-block-img {
				.sub-menu-cnt {
					.sub-heading {
					font-size: 16px
				}
				
				p {
				font-size: 13px;
				line-height: 14px;
				}
				}
			}
		}
	}
	
}