@*@model InLife.Store.Cms.ViewModels.FooterLinksViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-title">Create New Footer Link</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="col-md-12">
                        <form asp-action="Create" enctype="multipart/form-data" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p style="text-align:center;"><span style="color:red;"><b>@ViewBag.error</b></span></p>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" onchange="LinkCheckBoxChanged(this);" checked="checked" id="IsLink" value="true" name="blnIsLink">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Is Link</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" onchange="IconCheckBoxChanged(this);" id="IsSocialIcon" value="true" name="blnIsSocialIcon">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Is Social Icon</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" onchange="LogoCheckBoxChanged(this);" id="isLogo" value="true" name="blnIsLogo">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Is Logo</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Footer Link Url</label>
                                            <input asp-for="strUrlLink" class="form-control" placeholder="Enter Footer Link Url" required data-validation-required-message="Footer Link Url is required" />
                                            <span asp-validation-for="strUrlLink" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 isLogo" style="display:none;">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Footer Logo Image</label>
                                            <input type="file" title="search image" class="form-control" id="file" name="file" onchange="show(this)" />
                                            <span asp-validation-for="strLogoImg" class="text-danger"></span><span style="display:none;" id="fileError" class="text-danger">Please upload a png , jpg or jpeg Image</span>
                                            <div style="width:150px;height:150px;"> <img id="logo_img" style="width:100%;border:solid" /> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 isIcon" style="display:none;">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Social Icon</label>
                                            <select class="form-control select2" onchange="IconDemo(this)" style="width:90%;" name="strSocialIcon">
                                                <option value="fa fa-facebook-square">Facebook</option>
                                                <option value="fa fa-twitter">Twitter</option>
                                                <option value="fa fa-instagram">Instagram</option>
                                                <option value="fa fa-youtube-play">Youtube</option>
                                                <option value="fa fa-google-plus-official">Google-Plus</option>
                                                <option value="fa fa-quora">Quora</option>
                                                <option value="fa fa-linkedin-square">Linkedin</option>
                                            </select>
                                            <i id="iconDemo" style="font-size: 35px;padding-top: 5px;color: #e23f2e;"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 isLink">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Link Text</label>
                                            <input asp-for="strLinkText" class="form-control" id="linkText" placeholder="Enter Link Text" />
                                            <span asp-validation-for="strLinkText" class="text-danger"></span><span id="linkError" class="text-danger" style="display:none;">Footer Link Url is required</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 isLink">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Link Position</label>
                                            <select class="form-control select2" name="strSection">
                                                <option value="Left">Left</option>
                                                <option value="Right">Right</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row w-100">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" onclick="myValidation()" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pull-right">
                                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show(input) {
        if (ValidateFile()) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#logo_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    }
    function ValidateFile() {
        var ext = $('#file').val().split('.').pop().toLowerCase();
        if (ext == 'png') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else if (ext == 'jpg') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else if (ext == 'jpeg') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else {
            $("#fileError").show();
            $("#file").addClass("invalid");
            $('#logo_img').attr('src', "");
            return false;
        }
    }

    function myValidation() {

        var IsLogo = $("#isLogo").prop("checked");
        var IsLink = $("#IsLink").prop("checked");
        if (IsLogo == true) {
            if (ValidateFile() == false) {
                event.preventDefault();
                return false;
            }
        }
        else if (IsLink == true) {
            var txt = $("#linkText").val();
            if (txt == "") {
                $("#linkError").show();
                $("#linkText").addClass("invalid");
                event.preventDefault();
                return false;
            }
            else {

                $("#linkError").hide();
                $("#linkText").removeClass("invalid");
            }
        }
    }

    function LinkCheckBoxChanged(chk) {
        if (chk.checked) {
            $("#IsSocialIcon").prop("checked", false);
            $("#isLogo").prop("checked", false);
            $("#file").val("");
            $('#logo_img').attr('src', "");
            $(".isLink").show();
            $(".isIcon").hide();
            $(".isLogo").hide();
        }
        else {
            chk.checked = true;
        }
    }
    function IconCheckBoxChanged(chk) {
        if (chk.checked) {
            $("#isLogo").prop("checked", false);
            $("#IsLink").prop("checked", false);
            $("#file").val("");
            $('#logo_img').attr('src', "");
            $("#linkText").val("");
            $(".isLink").hide();
            $(".isIcon").show();
            $(".isLogo").hide();
            $("#iconDemo").addClass("fa fa-facebook-square");
            $("#linkError").hide();
            $("#linkText").removeClass("invalid");
        }
        else {
            chk.checked = true;
        }
    }
    function LogoCheckBoxChanged(chk) {
        if (chk.checked) {
            $("#IsSocialIcon").prop("checked", false);
            $("#IsLink").prop("checked", false);
            $("#linkText").val("");
            $(".isLink").hide();
            $(".isIcon").hide();
            $(".isLogo").show();
            $("#linkError").hide();
            $("#linkText").removeClass("invalid");
        }
        else {
            chk.checked = true;
        }
    }
    //IsLink  IsSocialIcon  isLogo  chk.checked
    function IconDemo(ico) {
        $("#iconDemo").attr('class', '');
        $("#iconDemo").addClass(ico.value);
    }


</script>*@
