<div class="mainpagewrap">
    <div class="row m-0">
        <div class="col-md-9 p-0">
            <div class="leftwrapsection">
                <div class="logotitlebar">
                    <div class="row">
                        <div class="col-md-3">
                    
                             <div class="logo-sec"><a href="#"><img src="assets/images/logo.png"></a></div>
                        </div>
                        <div class="col-md-9">
                            <div class="pagetitel-sec">
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainwizard">
                    <div class="row">
                        <div class="col-md-3">
                         
                        </div>
                        <div class="col-md-9">
                            <div class="stepdetail">
                                <div class="pagetitles">
                                    <span style="margin-left:200px !important;">  <h1>Processing please wait....</h1></span>
                                  <!--   <h1>Welcome to the InLife Family!
                                        Thank you for availing of Prime Care!</h1>
                                    <h5>Your future is now secured against the adverse impact of medical expenses due to
                                        a critical illness. Below are your transaction details:</h5> -->

                                </div>


                                <!-- step9 strat -->

<div class="formcoantiner step9">
                                   
                                  

                                   
                                </div>
















                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 p-0">
        </div>
    </div>

</div>
