.stepdetail .preminumform select {
	color: #ababab;
}

.typ.leftwrapsection {
	padding: 36px;
}


.typ.mainpagewrap {
	width: 70%;
    margin: auto;

	
}

@media (max-width: 1350px) {
	.typ.mainpagewrap {
		width: 80%;
	}
}




.pagetitles.thank-you-page h1 {
	margin-bottom: 25px !important;
}

.thank-you-header {
	font-size: 35px !important;
	font-weight: 600 ;
	line-height: normal;
}



.stepdetail p {
	font-size: 16px !important;
	line-height: normal;
}

.reviewbill .detailbill p, 
.formcoantiner.step9 p {
	font-size: 16px !important;
}

@media (max-width: 600px) {
	.reviewbill {
		padding: 15px;
	}
	.disability-wrapper ol li {
		font-size: 13px;
	}
}
@media (max-width: 1200px) {
	.typ.mainpagewrap {
		width: 100%;
		margin: auto;
	}

	.thank-you-header {
		font-size: 25px !important;
		margin-bottom: 15px  !important;
	}

	.pagetitles .text, .pagetitles ol li {
		font-size: 16px !important;
		font-weight: 400;
	}
}
@media (max-width: 600px) {
	.typ.leftwrapsection {
		padding: 20px;
	}
	.thank-you-header {
		font-size: 20px !important;
	}

	.pagetitles .text, .pagetitles ol li {
		font-size: 14px !important;
	}
	.formcoantiner.step9 p,
	.stepdetail p,
	.reviewbill .detailbill p, 
	.reviewbill .titlebill p , 
	.reviewbill p {
		font-size: 14px  !important;
	}

	.outlinedbtn {
		padding: 1em 0.5em !important;
	}

	@media (max-width: 400px) {
		.reviewbill .detailbill p, 
		.reviewbill .titlebill p , 
		.reviewbill p {
			font-size: 13px  !important;
		}

		.reviewbill .col-md-8,
		.reviewbill .col-md-4,
		.reviewbill .detailbill .row .col-6:last-child {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.disability-wrapper ol li {
			font-size: 12px;
		}

	}
}


@media (min-width: 1025px) {
	body {
		padding-top: 0;
	}
}

.text, p {
	font-size: 14px;
	line-height: 16px;
	color: #42414d;
}

.disability-wrapper ol li {
	list-style: disc;
	list-style-position: inside;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 15px;
}


p {
	margin-bottom: 5px;
}

.checkbox-wrap .pf-list-item input:checked + span {
	background-color: #2895df;
	color: #fff;
	border: 1px solid #2895df ;
}

.checkbox-wrap .pf-list-item:first-child input:checked + span,
.checkbox-wrap .pf-list-item:last-child input:checked + span {
	width: 12vw;
}

.checkbox-wrap .pf-list-item:hover {
	background-color: #2895df ;
	border: 1px solid #2895df ;
	color: #fff ;
	cursor: pointer;
}

.steplist ul.steplistmain li:hover:before,
.steplist ul.steplistmain li.active:before {
	content: "1";
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px;
	color: #2895df;
	border: 2px solid #2895df;
	border-radius: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 28px;
	font-weight: normal;
}

.steplist ul.steplistmain li ul.innerlist li.active:before,
.steplist ul.steplistmain li ul.innerlist li:hover:before {
	position: absolute;
	left: -34px;
	width: 10px;
	height: 10px;
	border: 2px solid #2895df;
	border-radius: 100%;
	text-align: center;
	top: 13px;
}

.steplist ul.steplistmain li ul.innerlist li.active:after,
.steplist ul.steplistmain li ul.innerlist li:hover:after {
	background: #2895df;
	content: "";
	position: absolute;
	left: -30px;
	width: 2px;
	height: 34px;
	top: -21px;
}

.radio-container input:checked ~ .checkmark {
	background-color: #2895df;
	border: 1px solid #2895df;
}

.is-invalid {
	border-color: #dc3545 !important;
}

.steplist ul.steplistmain li.complete.active:before {
	background: #2895df;
	content: "\e876";
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	color: #fff;
}

/* .stepdetail h1 {
	text-align: center;
	color: #070752;
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 80px;
	letter-spacing: -1px;
} */


.pagetitles h5 {
	font-size: 16px;
	color: #42414d ;
}

.reviewbill .titlebill p {
	color: #42414d;
}
/*-- css by Designer 05-2021 start --*/

/* 
.thank-you-header {
	font-size: 25px !important;
} */
.pagetitles h5,
.reviewbill .titlebill p {
	font-size: 16px;
	line-height: normal;
}

