<main class="d-flex flex-column align-items-center">
	<h2 class="section-header wow fadeInUp">
		Your InLife Group Application is <br>
	</h2>
	<div class="pending-text-box cursor-pointer mt-5">
		PENDING FOR REQUIREMENTS
	</div>
	<p class="sub-title wow fadeInUp">
		Please upload your requirements within 3 business days from the date of your <br>application to avoid cancellation. Thank you.
	</p>
	<div class="d-flex flex-row mt-5">
		<button class="btn-outline wow fadeInUp mr-4" (click)="backToHome()">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			<span class="ml-4">back to home page</span>
		</button>
		<button class="btn-fill wow fadeInUp mr-4" (click)="continueApplication()">
			Upload Requirements Now
		</button>
    </div>
</main>

