<style type="text/css">
	
	body{background-color: #F5F7FD!important;}
</style>
<header class="pageheader custompading">
       <div class="row m-0">
          <div class="col-md-2 p-0" style="margin: 0 auto;display: block;">
              <div class="logo-sec"><a href="#"><img src="assets/images/logo.png"></a></div>
           </div>
         </div>  
          
      
      </header>
     
 
<div class="mainpagewrap">
    <div class="row m-0">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-0">
            <div class="leftwrapsection">
                <div class="mainwizard">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="stepdetail">
                                <div class="pagetitles">
                                    <h1>Our site is under maintenance</h1>
                                    <p style="color: color: #7e7e7e;">We're currently updating our site to furthur improve your experience</p>

                                </div>


                                <!-- step9 strat -->


                                <a class="btn-orange">GO BACK TO HOME</a>
                            </div>
                        </div>
                        <div class="col-md-12 social">
                        		<p style="color: color: #7e7e7e;">Follow us for updates</p>
                        		<div class="socaillink">
                        			<a href="#"><i class="fa fa-facebook-official"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                     <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2 p-0">
        </div>
    </div>

</div>