<main>
	<input type="hidden" id="keyId" />

	<div class="loading sliderLoading">
		<span class="loading__dot"></span>
		<span class="loading__dot"></span>
		<span class="loading__dot"></span>
	</div>

	<section class="hero-slider section-hero-care-area">
		<div
			style="background: url(/assets/images/hero-prime-secure-lite2.jpg) 100% 100% no-repeat;
		           background-size: cover;"
			class="{{ 'section section-hero wow fadeInUp hero-slide-' }}"
		>
			<div class="container">
				<div class="hero-content">
					<img src="/assets/images/prime-secure-lite-banner-logo.png"
						 style="margin-bottom: 20px;"/>
					<p class="hero-content-text">
						Shield yourself from life and health risks through an affordable life insurance plan
					</p>
					<a [routerLink]="['/prime-secure-lite/quote']" class="btn-orange">
						Get Prime Secure Lite Now
					</a>
				</div>
			</div>
			<img
				src="/assets/images/hero-prime-secure-lite-mobile3.jpg"
				class="only-in-mobile"
			/>
		</div>
		<!--</div>-->
	</section>

	<section class="section section-features">
		<div class="container">
			<h2 class="section-header wow fadeInUp">
				Get Prime Secure Lite to Avail of These&nbsp;<br />Benefits
			</h2>
			<ul class="feature-list-item" id="product-benefits">
				<li class="">
					<div class="feature-list-col">
						<div class="feature-img case-icon">
							<img
								 style="max-height: 149px"
								 src="assets/images/ps-benefit01.svg"
								 alt="Life Insurance">
						</div>
						<div class="feature-content">
							<span>Life Insurance</span>
							<p>
								Ensure your loved ones are protected in case of
								your untimely passing.
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="feature-list-col">
						<div class="feature-img disability-icon">
							<img
								 style="max-height: 149px; max-width: 140%;"
								 src="assets/images/ps-benefit04.svg"
								 alt="Cancer, Heart Attack and Stroke">
						</div>
						<div class="feature-content">
							<span>Cancer, Heart Attack and Stroke</span>
							<p>
								Receive a lump sum payment in case you encounter
								the three leading causes of mortality in the
								Philippines: Cancer, Heart Attack and Stroke.
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="feature-list-col">
						<div class="feature-img death-icon">
							<img
								 style="max-height: 149px"
								 src="assets/images/ps-benefit03.svg"
								 alt="Extended Accident Coverage for Spouse">
						</div>
						<div class="feature-content">
							<span>Extended Accident Coverage for Spouse</span>
							<p>
								Beneficiaries receive additional benefit equal
								to life coverage if both insured and legal
								spouse pass away from the same accident.
							</p>
						</div>
					</div>
				</li>
				<li class="">
					<div class="feature-list-col">
						<div class="feature-img medical-icon">
							<img
								 style="max-height: 149px"
								 src="assets/images/ps-benefit06.svg"
								 alt="Medical Expert Opinion">
						</div>
						<div class="feature-content">
							<span>COVID-19 Insurance</span>
							<p>
								Your beneficiary/ies get additional cash
								benefit if you pass away due to COVID-19
								(6-month coverage period).
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="section-about-heading p18">
		<div class="container">
			<h2 class="section-header wow fadeInUp">
				Protection starts at <span class="peso-sign"><del>P</del>2,500</span> per year,<br> depending on your age.
			</h2>
			<!-- <p class="wow fadeInUp">
				*For female, 18 years old, Plan 1M, ₱1 million coverage <br />
				*Renewal premiums shall be based on insured’s desired coverage
				and attained age
			</p> -->
		</div>
	</section>

	<section class="section section-about" style="padding-bottom: 0">
		<div class="container">
			<div class="only-in-desktop about-desktop-banner"></div>
			<div class="container-half">
				<h2 class="section-header wow fadeInUp">
					InLife Store Checklist <br />Before You Get Started
				</h2>
				<ul class="about-checklist">
					<li class="wow fadeInUp">
						Filipino citizenship and currently residing <br />in the
						Philippines
					</li>
					<li class="wow fadeInUp">Valid government-issued ID</li>
					<li class="wow fadeInUp">
						Credit / debit card for online payment
					</li>
				</ul>
			</div>
		</div>
		<p class="only-in-mobile mb00">
			<img
				src="assets/images/about-bg-new.jpg"
				alt=""
				class="about-banner"
			/>
		</p>
	</section>

	<section class="section-easy-step">
		<div class="container">
			<h2 class="section-header wow fadeInUp">
				Easy 3-Step Application Process
			</h2>
			<div class="three-step">
				<div class="line-svg" style="display: none">
					<svg
						xmlns:dc="http://purl.org/dc/elements/1.1/"
						xmlns:cc="http://creativecommons.org/ns#"
						xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						xmlns:svg="http://www.w3.org/2000/svg"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
						id="mysvg"
						version="1.1"
						inkscape:version="0.48.5 r10040"
						width="1225.7102"
						height="254.88278"
						sodipodi:docname="animation-with-color.svg"
					>
						<style>
							#path3765 {
								animation: dash 3s linear forwards;
								fill: none;
								stroke: url(#linearGradient3810);
								stroke-width: 3.5;
								stroke-linecap: butt;
								stroke-linejoin: miter;
								stroke-miterlimit: 4;
								stroke-opacity: 1;
								stroke-dasharray: none;
							}

							#path2995-1 {
								animation: dash1 3s;
								fill: #ed8327;
								fill-opacity: 1;
								fill-rule: evenodd;
								stroke: none;
							}

							@keyframes dash {
								from {
									stroke-dasharray: 1631;
									stroke-dashoffset: 1631;
								}

								to {
									stroke-dasharray: 1631;
									stroke-dashoffset: 0;
								}
							}

							@keyframes dash1 {
								0% {
									opacity: 0;
								}

								99% {
									opacity: 0;
								}

								100% {
									opacity: 1;
								}
							}
						</style>

						<defs id="defs2989">
							<linearGradient id="linearGradient3812">
								<stop
									id="stop3814"
									offset="0"
									style="stop-color: #1f97d3; stop-opacity: 1"
								/>
								<stop
									style="stop-color: #3755a5; stop-opacity: 1"
									offset="0.47854841"
									id="stop3816"
								/>
								<stop
									id="stop3818"
									offset="0.51287097"
									style="stop-color: #9d3953; stop-opacity: 1"
								/>
								<stop
									id="stop3820"
									offset="1"
									style="stop-color: #ed8327; stop-opacity: 1"
								/>
							</linearGradient>
							<linearGradient id="linearGradient3798">
								<stop
									style="stop-color: #1f97d3; stop-opacity: 1"
									offset="0"
									id="stop3800"
								/>
								<stop
									id="stop3806"
									offset="0.50715053"
									style="stop-color: #3755a5; stop-opacity: 1"
								/>
								<stop
									style="stop-color: #9d3953; stop-opacity: 1"
									offset="0.51188737"
									id="stop3808"
								/>
								<stop
									style="stop-color: #ed8327; stop-opacity: 1"
									offset="1"
									id="stop3802"
								/>
							</linearGradient>
							<linearGradient
								inkscape:collect="always"
								xlink:href="#linearGradient3798"
								id="linearGradient3804"
								x1="-3.7402344e-006"
								y1="127.44139"
								x2="1225.7103"
								y2="127.44139"
								gradientUnits="userSpaceOnUse"
							/>
							<linearGradient
								inkscape:collect="always"
								xlink:href="#linearGradient3812"
								id="linearGradient3810"
								gradientUnits="userSpaceOnUse"
								x1="-3.7402344e-006"
								y1="127.44139"
								x2="1225.7103"
								y2="127.44139"
							/>
						</defs>

						<g id="g3785" style="stroke: url(#linearGradient3804)">
							<path
								transform="translate(-356.52042,-401.72872)"
								d="m 372.29648,529.33746 a 7.888031,7.888031 0 1 1 -15.77606,0 7.888031,7.888031 0 1 1 15.77606,0 z"
								sodipodi:ry="7.888031"
								sodipodi:rx="7.888031"
								sodipodi:cy="529.33746"
								sodipodi:cx="364.40845"
								id="path2995"
								style="
									fill: #1f97d3;
									fill-opacity: 1;
									fill-rule: evenodd;
									stroke: none;
								"
								sodipodi:type="arc"
							/>
							<path
								sodipodi:nodetypes="cccccccc"
								inkscape:connector-curvature="0"
								id="path3765"
								d="m 13.663124,127.8062 110.933856,-0.61974 c 3.14694,-163.678674 243.80304,-170.780854 249.13638,0 l 113.41283,-0.61975 c 14.15146,168.45232 240.14839,168.84987 253.47459,0.61974 l 112.7931,0 c 1.8597,-154.527964 236.71002,-179.176924 251.61532,0.61975 l 108.4549,-0.61975"
								style="
									fill: none;
									stroke: url(#linearGradient3810);
									stroke-width: 3.5;
									stroke-linecap: butt;
									stroke-linejoin: miter;
									stroke-miterlimit: 4;
									stroke-opacity: 1;
									stroke-dasharray: none;
								"
							/>
							<path
								transform="translate(853.41378,-401.3905)"
								d="m 372.29648,529.33746 a 7.888031,7.888031 0 1 1 -15.77606,0 7.888031,7.888031 0 1 1 15.77606,0 z"
								sodipodi:ry="7.888031"
								sodipodi:rx="7.888031"
								sodipodi:cy="529.33746"
								sodipodi:cx="364.40845"
								id="path2995-1"
								style="
									fill: #ed8327;
									fill-opacity: 1;
									fill-rule: evenodd;
									stroke: none;
								"
								sodipodi:type="arc"
							/>
						</g>
					</svg>
				</div>
				<ul>
					<li>
						<div class="step-icon-wrap">
							<img
								src="assets/images/step01.svg"
								alt="Step one"
							/>
						</div>
						<div class="step-title">STEP 1: Get a Quote</div>
						<!--<p>
							Lorem ipsum dolor sit amet, consectetur aliquam
							adipiscing elit.
						</p>-->
					</li>
					<li>
						<div class="step-icon-wrap">
							<img
								src="assets/images/step02.svg"
								alt="Step one"
							/>
						</div>
						<div class="step-title">STEP 2: Apply</div>
						<!--<p>
							Lorem ipsum dolor sit amet, consectetur aliquam
							adipiscing elit.
						</p>-->
					</li>
					<li>
						<div class="step-icon-wrap">
							<img
								src="assets/images/step03.svg"
								alt="Step one"
							/>
						</div>
						<div class="step-title">STEP 3: Pay</div>
						<!--<p>
							Lorem ipsum dolor sit amet, consectetur aliquam
							adipiscing elit.
						</p>-->
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section section-products pad-bottom-0 ctb" id="getpslite">
		<div class="container1">
			<h2 class="section-header wow fadeInUp">
				Get Prime Secure Lite Today
			</h2>
			<p class="section-lead wow fadeInUp" style="display: none">
				Because life happens, InLife Health Care - every Filipino’s
				partner in getting convenient, <br />affordable, and
				medically-appropriate health services - is ready to support you
				through it.
			</p>
			<ul class="product-list-item only-in-desktop plan-slider">
				<li class="">
					<div class="plan">PLAN 2500</div>
					<div class="product-list-content">
						<p class="product-ages">
							For Ages 18-47
						</p>
						<p class="product-title">
							A One-Year Comprehensive Protection
							Plan with life and health insurance benefits
						</p>
						<div class="product-price-item">
							<span class="pay-only">Pay only</span>
							<span class="product-price"><del>P</del>2,500</span>
						</div>
						<p class="product-subtitle" style="line-height: 25px;">With up to <span class="product-benefit-amount"><del>P</del>750,000</span> in total benefits, depending on age</p>
						<ul class="list-check">
							<li>Up to <del>P</del>300,000 Life Insurance Benefit</li>
							<li>Up to <del>P</del>300,000 of additional benefit if legal spouse and insured passes away due to the same accident</li>
							<li>Up to <del>P</del>150,000 benefit if diagnosed with Cancer, Heart Attack or Stroke</li>
							<li>Up to <del>P</del>150,000 benefit in case of death due to COVID-19 (6-month protection period)</li>
						</ul>
					</div>
				</li>
				<li class="">
					<div class="plan">PLAN 3000</div>
					<div class="product-list-content">
						<p class="product-ages">
							For Ages 48-60
						</p>
						<p class="product-title">
							A One-Year Comprehensive Protection
							Plan with life and health insurance benefits
						</p>
						<div class="product-price-item">
							<span class="pay-only">Pay only</span>
							<span class="product-price"><del>P</del>3,000</span>
						</div>
						<p class="product-subtitle" style="line-height: 25px;">With up to <span class="product-benefit-amount"><del>P</del>480,000</span> in total benefits, depending on age</p>
						<ul class="list-check">
							<li>Up to <del>P</del>200,000 Life Insurance Benefit</li>
							<li>Up to <del>P</del>200,000 of additional benefit if legal spouse and insured passes away due to the same accident</li>
							<li>Up to <del>P</del>80,000 benefit if diagnosed with Cancer, Heart Attack or Stroke</li>
							<li>Up to <del>P</del>80,000 benefit in case of death due to COVID-19 (6-month protection period)</li>
						</ul>
					</div>
				</li>
			</ul>

			<div class="only-in-desktop product-list-get-started">
				<a [routerLink]="['/prime-secure-lite/quote']"
				   class="btn-orange button-center wow fadeInUp" id="">Get Started</a>
			</div>

			<owl-carousel-o class="owl-carousel owl-theme plan-carousel-mobile product-list-item only-in-desktop plan-slider" [options]="planCarouselMobile">
				<ng-template carouselSlide>
					<div class="item">
						<ul class="">
							<li class="">
								<div class="plan">PLAN 2500</div>
								<div class="product-list-content">
									<p class="product-ages">
										For Ages 18-47
									</p>
									<p class="product-title">
										A One-Year Comprehensive Protection
										Plan with life and health insurance benefits
									</p>
									<div class="product-price-item">
										<span class="pay-only">Pay only</span>
										<span class="product-price"><del>P</del>2,500</span>
									</div>
									<p class="product-subtitle">With up to <span class="product-benefit-amount"><del>P</del>750,000</span> in total benefits, depending on age</p>
									<ul class="list-check">
										<li>Up to <del>P</del>300,000 Life Insurance Benefit</li>
										<li>Up to <del>P</del>300,000 of additional benefit if legal spouse and insured passes away due to the same accident</li>
										<li>Up to <del>P</del>150,000 benefit if diagnosed with Cancer, Heart Attack or Stroke</li>
										<li>Up to <del>P</del>150,000 benefit in case of death due to COVID-19 (6-month protection period)</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</ng-template>
				<ng-template carouselSlide>
					<div class="item">
						<ul>
							<li class="">
								<div class="plan">PLAN 3000</div>
								<div class="product-list-content">
									<p class="product-ages">
										For Ages 48-60
									</p>
									<p class="product-title">
										A One-Year Comprehensive Protection
										Plan with life and health insurance benefits
									</p>
									<div class="product-price-item">
										<span class="pay-only">Pay only</span>
										<span class="product-price"><del>P</del>3,000</span>
									</div>
									<p class="product-subtitle">With up to <span class="product-benefit-amount"><del>P</del>480,000</span> in total benefits, depending on age</p>
									<ul class="list-check">
										<li>Up to <del>P</del>200,000 Life Insurance Benefit</li>
										<li>Up to <del>P</del>200,000 of additional benefit if legal spouse and insured passes away due to the same accident</li>
										<li>Up to <del>P</del>80,000 benefit if diagnosed with Cancer, Heart Attack or Stroke</li>
										<li>Up to <del>P</del>80,000 benefit in case of death due to COVID-19 (6-month protection period)</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</ng-template>
			</owl-carousel-o>
			<div class="only-in-mobile product-list-get-started" style="text-align: -webkit-center;"> 
				<a [routerLink]="['/prime-secure-lite/quote']" style="width: fit-content;"
					class="btn-orange button-center wow fadeInUp" id="">Get Started</a>
			</div>
		</div>
	</section>

	<section class="section section-newsletter" style="display: none">
		<div class="container">
			<h2 class="section-header">Need Help?</h2>
			<p class="section-lead">
				Hotline: (632) 8-876-1800<br />
				Toll-Free: 1-800-10-INSULAR (4678527)
			</p>
		</div>
	</section>
</main>
