.fa {
	font-size: 2rem;
	margin-right: 0.3em;
}

.footer-links p {
	display: block;
	text-align: center;
	padding: 48px 0;
}

.social-links {
	display: block;
	width: 100%;
}

/*-- css by Designer 05-2021 start --*/
