<div class="mainpagewrap">
	<div class="row m-0">
		<div class="col-md-12 tabfull p-0">
			<div class="leftwrapsection">
				<!-- <app-prime-secure-lite-header></app-prime-secure-lite-header> -->
				<div class="mainwizard">
					<div class="row">
						<!-- <div class="col-md-3"></div> -->
						<div class="col-md-12">
							<div class="stepdetail">
								<div
									class="pagetitles"
									style="margin-bottom: 55px !important"
								>
									<h1 class="mb-6 thank-you-header">
										Welcome to the Inlife Family!<br />
										Thank You for Availing of Prime Secure
										Lite.
									</h1>

									<h5
										class="text my-5"
										style="
											color: #070752;
											line-height: 28px;
										"
									>
										You have secured your loved ones by
										availing of a protection plan that
										provides financial benefits in the event
										of many uncertainties we face today.
									</h5>

									<!-- step9 strat -->

									<div class="formcoantiner step9 text-left">
										<div class="reviewbill">
											<div class="row">
												<div class="col-md-4 titlebill">
													<p>Transaction Details</p>
												</div>

												<div
													class="col-md-8 detailbill"
												>
													<div class="row m-0">
														<div class="col-6">
															<p>
																Reference
																Number:
															</p>
														</div>
														<div class="col-6">
															<p>1234567890</p>
														</div>
														<div class="col-6">
															<p>
																Transaction
																Date:
															</p>
														</div>
														<div class="col-6">
															<p>2017-02-09</p>
														</div>
													</div>
												</div>
											</div>
											<br />
											<br />
											<div class="row">
												<div class="col-md-4 titlebill">
													<p>Plan Details</p>
												</div>
												<div
													class="col-md-8 detailbill"
												>
													<div class="row m-0">
														<div class="col-6">
															<p>Product Name:</p>
														</div>
														<div class="col-6">
															<p>
																PRIME SECURE
																LITE
															</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>Plan:</p>
														</div>
														<div class="col-6">
															<p>Plan 300</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>Current Age:</p>
														</div>
														<div class="col-6">
															<p>29</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>Gender:</p>
														</div>
														<div class="col-6">
															<p>Male</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>
																Mode of Payment
															</p>
														</div>
														<div class="col-6">
															<p>Annual</p>
														</div>
													</div>
													<br />
													<br />
													<div class="row m-0">
														<div class="col-6">
															<p>Sum Assured:</p>
														</div>
														<div class="col-6">
															<p>
																&#8369; 300,000
															</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>
																Extended Spouse
																Accident
																Coverage:
															</p>
														</div>
														<div class="col-6">
															<p>
																&#8369;150,000
															</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>
																Cancer, Heart
																Attack and
																Stroke Coverage:
															</p>
														</div>
														<div class="col-6">
															<p>
																&#8369; 150,000
															</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>
																Covid-19
																Insurance
																Benefit(6-months
																Coverage):
															</p>
														</div>
														<div class="col-6">
															<p>
																&#8369; 150,000
															</p>
														</div>
													</div>
												</div>
											</div>
											<br />

											<div class="row">
												<div class="col-md-4 titlebill">
													<p>Payment Details</p>
												</div>
												<div
													class="col-md-8 detailbill"
												>
													<div class="row m-0">
														<div class="col-6">
															<p>
																Receipt Number:
															</p>
														</div>
														<div class="col-6">
															<p>1234567890</p>
														</div>
													</div>

													<div class="row m-0">
														<div class="col-6">
															<p>Amount:</p>
														</div>
														<div class="col-6">
															<p>
																&#8369;7,642.00
															</p>
														</div>
													</div>
												</div>
											</div>
											<br />
											<br />
											<br />
											<p>
												Please be advised that you will
												be automatically enrolled to the
												InLife Customer Portal.Your
												policy contract will be sent to
												you via your Customer Portal
												account within 48 hours (except
												holidays and weekends)if all
												requirements are submitted and
												complete.
											</p>
											<p>
												An InLife representative shall
												get in touch with you,if
												necessary,for questions or
												additional details.
											</p>
											<br />
											<br />
											<p>Important Reminders:</p>

											<p>
												Pay your succeeding annual and
												monthly premiums using your
												Mastercard or VISA credit cards
												through our Automatic Charging
												Option(ACO) facility,which can
												be accessed after you log-in to
												your InLife Customers Portal
												account.By enrolling at our ACO
												facility,you have the peace of
												mind that succeeding annual and
												monthly payments are paid on or
												before the due date to keep your
												policy in force.
											</p>
											<br />
											<br />
											<p>
												For inquiries,please get in
												touch with us through
												customercare@insular.com.ph or
												call our Customer Care Hotline
												Numbers (02)8-876-1-800 for
												Metro Manila or
												1-800-10-INSULAR(1-800-10-4678527)Provincial
												Toll-Free Number.Our business
												hours are from 7am to
												5pm,Mondays to Fridays,except
												Holidays.
											</p>
											<br />
											<br />
											<p>Connect with us:</p>
											<img
												class="m-2"
												src="assets\images\fb-icon.png"
											/>
											<img
												class="m-2"
												src="assets\images\twitter-icon.png"
											/>
											<img
												class="m-2"
												src="assets\images\insta-icon.png"
											/>
										</div>
									</div>

									<div class="form-row text-center mb-5">
										<div class="col-12">
											<div class="btnsec text-center">
												<a class="btn outlinedbtn" [routerLink]="['/']">
													<i class="material-icons"
														>arrow_backward</i
													>
													BACK TO HOME PAGE
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
