.stepdetail .preminumform select
{
	color: #ababab;
}


.step2 {
	margin-bottom: 0px !important;
}

.step3 {
	margin-top: 90px !important;
}

.black
{
	color: #000 !important;
}

.prime-care-quote-page {

	
}
