<div class="mainpagewrap prime-care-quote-page" *ngIf="plan">
	<div class="row m-0">
		<div class="col-md-9 tabfull p-0">
			<div class="leftwrapsection">
				<!-- <app-inner-header></app-inner-header> -->
				<div class="mainwizard">
					<div class="row">
						<div class="col-md-3 tabsamll steplist-wrapper" style="position: relative;">
							<div class="steplist">
								<ul class="steplistmain">

									<li class="active">
										Get a Quote
										<ul class="innerlist">
											<li class="active"><a href="javascript:void(0)">Calculate Premium</a></li>
											<li [ngClass]="((getQuoteForm.get('calculatePremium')?.valid))?'active':''">
												<a href="javascript:void(0)">Basic Information</a>
											</li>
											<li [ngClass]="((getQuoteForm.get('basicInformation')?.valid))?'active':''">
												<a href="javascript:void(0)">Health Condition</a>
											</li>
										</ul>
									</li>
									<li>Apply</li>
									<li>Pay</li>

								</ul>
							</div>
						</div>
						<div class="col-md-9 tabsamll">
							<div class="stepdetail">
								<h1>Start your Prime Care plan now</h1>
								<form [formGroup]="getQuoteForm" (ngSubmit)="submitQuoteForm()">
									<div class="formcoantiner" formGroupName="calculatePremium">
										<h3>Calculate Premium</h3>
										<div class="preminumform">
											<div class="form-row">
												<div class="col-md-6 mb-3">
													<label for="">Total Cash Benefit</label>
													<select class="form-control" id=""
															formControlName="totalCashBenefit"
															[ngClass]="((submitted  || getQuoteForm.get('calculatePremium').get('totalCashBenefit').dirty || getQuoteForm.get('calculatePremium').get('totalCashBenefit').touched) &&  getQuoteForm.get('calculatePremium').get('totalCashBenefit')?.errors)?'is-invalid'
                                                         :getQuoteForm.get('calculatePremium').get('totalCashBenefit')?.valid?'is-valid black':''
                                                        ">
														<option [value]="1">Select cash benefits</option>
														<option [value]="1080000">P1,080,000</option>
														<option [value]="1800000">P1,800,000</option>
													</select>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('calculatePremium').get('totalCashBenefit').dirty || getQuoteForm.get('calculatePremium').get('totalCashBenefit').touched) &&  getQuoteForm.get('calculatePremium').get('totalCashBenefit')?.errors">
														This
														is a required field
													</small>
												</div>
												<div class="col-md-6 mb-3">
													<label for="">Gender</label>
													<div class="checkbox-wrap"
														 [ngClass]="((submitted  || getQuoteForm.get('calculatePremium').get('gender').dirty || getQuoteForm.get('calculatePremium').get('gender').touched) &&  getQuoteForm.get('calculatePremium').get('gender')?.errors)?'is-invalid'
                                                         :getQuoteForm.get('calculatePremium').get('gender')?.valid?'is-valid':''
                                                        ">
														<span class="pf-form-control pf-checkbox">

															<span class="pf-list-item" *ngFor="let type of CONSTANTS.GENDER; let i = index">
																<label>
																	<input type="radio" [value]="type.id" formControlName="gender" />
																	<span class="pf-list-item-label">
																		<i class="material-icons">done</i>{{type.name}}
																	</span>
																</label>
															</span>

															<!--
															<span class="pf-list-item">
																<label><input type="radio" id="male" value="Male"
																		formControlName="gender">
																	<span class="pf-list-item-label"><i
																			class="material-icons">done</i>Male</span></label>
															</span>
															<span class="pf-list-item">
																<label><input type="radio" id="female"
																		formControlName="gender" value="Female"><span
																		class="pf-list-item-label"><i
																			class="material-icons">done</i>Female</span></label>
															</span>
															-->
														</span>
													</div>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('calculatePremium').get('gender').dirty || getQuoteForm.get('calculatePremium').get('gender').touched) &&  getQuoteForm.get('calculatePremium').get('gender')?.errors">
														This
														is a required field
													</small>
												</div>
												<div class="col-md-6 mb-3">
													<label for="">Birthdate</label>
													<div class="form-group mb-4">
														<div class="datepicker date input-group">
															<input type="text" matInput 
																   [max]="today"
																   class="form-control" 
																   id="dateofbirth"
																   formControlName="dateofbirth" 
																   [matDatepicker]="picker"
																   readonly
																   placeholder="MM/DD/YYYY"
																   [ngClass]="(
                                                                    (submitted
                                                                    || getQuoteForm.get('calculatePremium').get('dateofbirth').dirty
                                                                    || getQuoteForm.get('calculatePremium').get('dateofbirth').touched)
                                                                     &&  getQuoteForm.get('calculatePremium').get('dateofbirth')?.errors)?'is-invalid'
                                                                     :getQuoteForm.get('calculatePremium').get('dateofbirth')?.valid?'is-valid':''
                                                                     "
																   (click)="picker.open()">

															<mat-datepicker-toggle matSuffix [for]="picker">
															</mat-datepicker-toggle>
															<mat-datepicker #picker></mat-datepicker>
															<small class="errormsg"
																   *ngIf="(submitted  || getQuoteForm.get('calculatePremium').get('dateofbirth').dirty || getQuoteForm.get('calculatePremium').get('dateofbirth').touched) &&  getQuoteForm.get('calculatePremium').get('dateofbirth')?.errors">
																This
																is a required field
															</small>
														</div>
													</div>
												</div>
												<div class="col-md-6 mb-3">
													<label for="">Payment Mode</label>
													<div class="checkbox-wrap"
														 [ngClass]="((submitted  || getQuoteForm.get('calculatePremium').get('paymentMode').dirty || getQuoteForm.get('calculatePremium').get('paymentMode').touched) &&  getQuoteForm.get('calculatePremium').get('paymentMode')?.errors)?'is-invalid'
                                                        :getQuoteForm.get('calculatePremium').get('paymentMode')?.valid?'is-valid':''
                                                        ">
														<span class="pf-form-control pf-checkbox">
															<span class="pf-list-item">
																<label>
																	<input type="radio" id="monthly"
																		   formControlName="paymentMode" value="Monthly">
																	<span class="pf-list-item-label">
																		<i class="material-icons">done</i>Monthly
																	</span>
																</label>
															</span>
															<span class="pf-list-item">
																<label>
																	<input type="radio" id="annual"
																		   formControlName="paymentMode"
																		   value="Annual"><span class="pf-list-item-label">
																		<i class="material-icons">done</i>Annual
																	</span>
																</label>
															</span>
														</span>
													</div>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('calculatePremium').get('paymentMode').dirty || getQuoteForm.get('calculatePremium').get('paymentMode').touched) &&  getQuoteForm.get('calculatePremium').get('paymentMode')?.errors">
														This
														is a required field
													</small>
												</div>
												<div class="col-md-12">
													<p>Currencies are in Philippine Peso</p>
													<p>Filipino citizenship and current residence in the Philippines are requirements for eligibility to the product. Filipinos currently residing abroad and other nationalities are not eligible to apply</p>
												</div>
												<div class="col-12">
													<div class="btnsec text-right" *ngIf="!showSecondStep">
														<button type="button" class="btn" [disabled]="!getQuoteForm.get('calculatePremium')?.valid"
																(click)="setShowSecond();">
															Continue
															<i class="material-icons">arrow_forward</i>
														</button>
													</div>
												</div>
											</div>

										</div>
									</div>
									<span id="step2_head"></span>
									<!-- step2 strat -->

									<div class="formcoantiner step2" formGroupName="basicInformation"
										 *ngIf="getQuoteForm.get('calculatePremium')?.valid && showSecondStep">
										<h3>Basic Information</h3>
										<div class="preminumform">
											<div class="form-row">
												<div class="col-md-12">
													<label for="">Name</label>
												</div>
												<div class="col-md-2 mb-3">
													<select class="form-control" id="" formControlName="prefix"
															[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('prefix').dirty || getQuoteForm.get('basicInformation').get('prefix').touched) &&  getQuoteForm.get('basicInformation').get('prefix')?.errors)?'is-invalid'
                                                         :getQuoteForm.get('basicInformation').get('prefix')?.valid?'is-valid black':''
                                                        ">
														<option value="">Prefix</option>
														<option *ngFor="let type of CONSTANTS.PREFIX;let i = index"
																[value]="type.id">
															{{type.name}}
														</option>
													</select>

												</div>
												<div class="col-md-8 mb-3">
													<div class="input-group">
														<div class="fieldinnr">
															<input type="text" class="form-control fname"
																   placeholder="First Name" formControlName="fname"
																   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('fname').dirty || getQuoteForm.get('basicInformation').get('fname').touched) &&  getQuoteForm.get('basicInformation').get('fname')?.errors)?'is-invalid'
                                                                 :getQuoteForm.get('basicInformation').get('fname')?.valid?'is-valid':''
                                                                ">
															<small class="errormsg"
																   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('fname').dirty || getQuoteForm.get('basicInformation').get('fname').touched) &&  getQuoteForm.get('basicInformation').get('fname')?.errors">
																
																{{
																	getQuoteForm.get('basicInformation').get('fname')?.errors.required ? 'This is a required field': 'First name is invalid'
																}}
															</small>
														</div>
														<div class="fieldinnr">
															<input type="text" class="form-control mname"
																   placeholder="Middle Name" formControlName="mname"
																   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('mname').dirty || getQuoteForm.get('basicInformation').get('mname').touched) &&  getQuoteForm.get('basicInformation').get('mname')?.errors)?'is-invalid'
																   :getQuoteForm.get('basicInformation').get('mname')?.valid && getQuoteForm.get('basicInformation').get('mname')?.value !==''  ?'is-valid':''
																   ">
															<small class="errormsg"
																   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('mname').dirty || getQuoteForm.get('basicInformation').get('mname').touched) &&  getQuoteForm.get('basicInformation').get('mname')?.errors">
																   This is a required field
															</small>
														</div>
														<div class="fieldinnr">
															<input type="text" class="form-control lname"
																   placeholder="Last Name" formControlName="lname"
																   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('lname').dirty || getQuoteForm.get('basicInformation').get('lname').touched) &&  getQuoteForm.get('basicInformation').get('lname')?.errors)?'is-invalid'
                                                                :getQuoteForm.get('basicInformation').get('lname')?.valid?'is-valid':''
                                                                ">
															<small class="errormsg"
																   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('lname').dirty || getQuoteForm.get('basicInformation').get('lname').touched) &&  getQuoteForm.get('basicInformation').get('lname')?.errors">
																{{ getQuoteForm.get('basicInformation').get('lname')?.errors.required ? 'This is a required field': 'Last name is invalid' }}
															</small>
														</div>
													</div>
												</div>
												<div class="col-md-2 mb-3">
													<select class="form-control" id="" formControlName="suffix"
															[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('suffix').dirty || getQuoteForm.get('basicInformation').get('suffix').touched) &&  getQuoteForm.get('basicInformation').get('suffix')?.errors)?'is-invalid'
                                                         :getQuoteForm.get('basicInformation').get('suffix')?.valid?'is-valid black':''
                                                        ">
														<option value="">Suffix</option>
														<option *ngFor="let type of CONSTANTS.SUFFIX;let i = index"
																[value]="type.id">
															{{type.name}}
														</option>
													</select>
												</div>

												<div class="col-md-4 mb-3">
													<label for="">Email Address</label>
													<input type="email" class="form-control" placeholder="username@domain.com" 
														   formControlName="email"
														   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('email').dirty || getQuoteForm.get('basicInformation').get('email').touched) &&  getQuoteForm.get('basicInformation').get('email')?.errors)?'is-invalid'
                                                           :getQuoteForm.get('basicInformation').get('email')?.valid?'is-valid':''
                                                        ">
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('email').dirty || getQuoteForm.get('basicInformation').get('email').touched) &&  getQuoteForm.get('basicInformation').get('email')?.errors">
														Please
														enter valid email
													</small>
												</div>
												<div class="col-md-4 mb-3">
													<label for="">Contact Number</label>
													<div class="input-group iconfieldcustom">
														<div class="input-group-prepend">
															<span class="input-group-text areacode" id="">+63</span>
														</div>
														<input type="text" maxlength="9" class="form-control pnumber"
															   placeholder="Landline" formControlName="landline"
															   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('landline').dirty || getQuoteForm.get('basicInformation').get('landline').touched) &&  getQuoteForm.get('basicInformation').get('landline')?.errors)?'is-invalid'
                                                           :getQuoteForm.get('basicInformation').get('landline')?.valid && getQuoteForm.get('basicInformation').get('landline')?.value !==''?'is-valid':''
                                                            ">
														<small class="errormsg"
															   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('landline').dirty || getQuoteForm.get('basicInformation').get('landline').touched) &&  getQuoteForm.get('basicInformation').get('landline')?.errors">
															Landline Number
															is invalid
														</small>
													</div>
												</div>
												<div class="col-md-4 mb-3">
													<label for="" style="opacity: 0;">Contact Number</label>
													<div class="input-group iconfieldcustom">
														<div class="input-group-prepend">
															<span class="input-group-text areacode" id="">+63</span>
														</div>
														<input type="text" maxlength="10" class="form-control pnumber"
															   placeholder="Mobile" formControlName="mobile"
															   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('mobile').dirty || getQuoteForm.get('basicInformation').get('mobile').touched) &&  getQuoteForm.get('basicInformation').get('mobile')?.errors)?'is-invalid'
                                                             :getQuoteForm.get('basicInformation').get('mobile')?.valid?'is-valid':''
                                                            ">
														<small class="errormsg"
															   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('mobile').dirty
                                                            || getQuoteForm.get('basicInformation').get('mobile').touched)">
															<span *ngIf="getQuoteForm.get('basicInformation').get('mobile')?.errors">This is a required field</span>
														</small>

													</div>
												</div>

												<div class="col-md-4 mb-3">
													<label for="">Country of Residence</label>
													<select class="form-control" id="" formControlName="country"
															[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('country').dirty || getQuoteForm.get('basicInformation').get('country').touched) &&  getQuoteForm.get('basicInformation').get('country')?.errors)?'is-invalid'
                                                       :getQuoteForm.get('basicInformation').get('country')?.valid?'is-valid black':''
                                                        ">
														<option value="">Select Country</option>
														<option *ngFor="let type of CONSTANTS.COUNTRY;let i = index"
																[value]="type.id">
															{{type.name}}
														</option>
													</select>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('country').dirty || getQuoteForm.get('basicInformation').get('country').touched) &&  getQuoteForm.get('basicInformation').get('country')?.errors">This is a required field</small>
												</div>
												<div class="col-md-4 mb-3"
													 *ngIf="getQuoteForm.get('basicInformation').get('country').value == '170'">
													<label for="">Province of Residence</label>
													<select class="form-control" id="" formControlName="province"
															[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('province').dirty || getQuoteForm.get('basicInformation').get('province').touched) &&  getQuoteForm.get('basicInformation').get('province')?.errors)?'is-invalid'
                                                         :getQuoteForm.get('basicInformation').get('province')?.valid?'is-valid black':''
                                                        "
															(change)="onChangeProviance($event.target.value)">
														<option value="">Select Province</option>
														<option *ngFor="let type of CONSTANTS.PROVIANCE;let i = index"
																[value]="type.id">
															{{type.Province}}
														</option>
													</select>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('province').dirty || getQuoteForm.get('basicInformation').get('province').touched) &&  getQuoteForm.get('basicInformation').get('province')?.errors">
														This
														is a required field
													</small>
												</div>
												<div class="col-md-4 mb-3"
													 *ngIf="getQuoteForm.get('basicInformation').get('country').value == '170'">
													<label for="">Municipality of Residence</label>
													<select class="form-control" id="" formControlName="municipality"
															[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('municipality').dirty || getQuoteForm.get('basicInformation').get('municipality').touched) &&  getQuoteForm.get('basicInformation').get('municipality')?.errors)?'is-invalid'
                                                           :getQuoteForm.get('basicInformation').get('municipality')?.valid?'is-valid black':''
                                                        ">
														<option value="">Select Municipality</option>
														<option *ngFor="let type of muncipality;let i = index"
																[value]="type.id">
															{{type.name}}
														</option>
													</select>
													<small class="errormsg"
														   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('municipality').dirty || getQuoteForm.get('basicInformation').get('municipality').touched) &&  getQuoteForm.get('basicInformation').get('municipality')?.errors">
														This
														is a required field
													</small>
												</div>
												<div class="col-md-4 mb-3"
													 *ngIf="getQuoteForm.get('basicInformation').get('country').value != '170'">
													<label for="">Province of Residence</label>
													<select class="form-control" id="" formControlName="province">
													</select>
												</div>
												<div class="col-md-4 mb-3"
													 *ngIf="getQuoteForm.get('basicInformation').get('country').value != '170'">
													<label for="">Municipality of Residence</label>
													<select class="form-control" id="" formControlName="municipality">
													</select>
												</div>

												<ng-container *ngIf="!affiliate?.agentCode">
													<div class="col-md-6 mb-3">
														<label for="">I learned about Prime Care through:</label>
														<select class="form-control" id="" formControlName="primeCare"
																[ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('primeCare').dirty || getQuoteForm.get('basicInformation').get('primeCare').touched) &&  getQuoteForm.get('basicInformation').get('primeCare')?.errors)?'is-invalid'
															  :getQuoteForm.get('basicInformation').get('primeCare')?.valid?'is-valid black':''
															">
															<option value="">Select</option>
															<option *ngFor="let type of CONSTANTS.PRIME_CARE;let i = index"
																	[value]="type.id">
																{{type.name}}
															</option>
														</select>
														<small class="errormsg"
															   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('primeCare').dirty || getQuoteForm.get('basicInformation').get('primeCare').touched) &&  getQuoteForm.get('basicInformation').get('primeCare')?.errors">
															This
															is a required field
														</small>
													</div>
													<div class="col-md-6 mb-9"
														 *ngIf="getQuoteForm.get('basicInformation').get('primeCare').value == '1'">
														<label for="">Agent Name</label>
														<div class="input-group">
															<div class="fieldinnr50">
																<input type="text" class="form-control fname" ng-required="isRequired"
																	   placeholder="First Name" formControlName="afname"
																	   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('afname').dirty || getQuoteForm.get('basicInformation').get('afname').touched) &&  getQuoteForm.get('basicInformation').get('afname')?.errors)?'is-invalid'
																	 :getQuoteForm.get('basicInformation').get('afname')?.valid?'is-valid':''
																	">
																<small class="errormsg"
																	   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('afname').dirty || getQuoteForm.get('basicInformation').get('afname').touched) &&  getQuoteForm.get('basicInformation').get('afname')?.errors">
																	This
																	is a required field
																</small>
															</div>
															<div class="fieldinnr50">
																<input type="text" class="form-control lname" ng-required="isRequired"
																	   placeholder="Last Name" formControlName="alname"
																	   [ngClass]="((submitted  || getQuoteForm.get('basicInformation').get('alname').dirty || getQuoteForm.get('basicInformation').get('alname').touched) &&  getQuoteForm.get('basicInformation').get('alname')?.errors)?'is-invalid'
																	 :getQuoteForm.get('basicInformation').get('alname')?.valid?'is-valid':''
																	">
																<small class="errormsg"
																	   *ngIf="(submitted  || getQuoteForm.get('basicInformation').get('alname').dirty || getQuoteForm.get('basicInformation').get('alname').touched) &&  getQuoteForm.get('basicInformation').get('alname')?.errors">
																	This
																	is a required field
																</small>
															</div>
														</div>
													</div>
												</ng-container>

												<ng-container *ngIf="affiliate?.agentCode">
													<div class="col-md-6 mb-3">
														<label for="">I learned about Prime Care through:</label>
														<input type="text" class="form-control" value="REFERRAL OF INSULAR LIFE ADVISOR/ AGENT" readonly />
													</div>
													<div class="col-md-6 mb-3">
														<label for="">Agent Name</label>
														<input type="text" class="form-control" formControlName="afname" [value]="affiliate.agentName" readonly />
													</div>
													<input type="hidden" formControlName="primeCare" value="1" />
													<input type="hidden" formControlName="acode"  [value]="affiliate?.agentCode" />
													<input type="hidden" formControlName="afname" [value]="affiliate?.agentName" />
													<input type="hidden" formControlName="alname" value="" />
												</ng-container>

												<div class="col-12" *ngIf="!showThirdStep">
													<div class="btnsec text-right">
														<button type="button" class="btn" [disabled]="!getQuoteForm.get('basicInformation')?.valid"
																(click)="setShowThird();">
															Continue
															<i class="material-icons">arrow_forward</i>
														</button>
													</div>
												</div>
											</div>

										</div>
									</div>
									<span id="step3_head"></span>
									<!-- step3 strat -->

									<div class="formcoantiner step3" formGroupName="healthCondition"
										 *ngIf="getQuoteForm.get('basicInformation')?.valid && showThirdStep">
										<h3>Health Condition</h3>
										<div class="preminumform">
											<ul class="condtionslist">
												<li class="clearfix">
													<span class="numr">1.</span>
													<div class="ctnt">
														Are you suffering, ever suffered or received treatment for
														disease of the heart, kidney, lung, liver, brain, blood,
														musculoskeletal disorder, cancer, tumour, heart attack, stroke,
														dislipidemia, hypertension, diabetes, immunodeficiency disorder,
														any kind of disability?
														<div class="form-row">
															<div class="col-md-3">
																<label class="radio-container">
																	Yes
																	<input type="radio" id="healthCondition11"
																		   formControlName="healthCondition1" value="Yes">
																	<span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-3">
																<label class="radio-container">
																	No
																	<input type="radio" id="healthCondition12"
																		   formControlName="healthCondition1" value="No">
																	<span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-12">
																<small class="errormsg"
																	   *ngIf="(submitted  || getQuoteForm.get('healthCondition').get('healthCondition1').dirty || getQuoteForm.get('healthCondition').get('healthCondition1').touched) &&  getQuoteForm.get('healthCondition').get('healthCondition1')?.errors">
																	This
																	is a required field
																</small>
															</div>
														</div>
													</div>
												</li>

												<li class="clearfix">
													<span class="numr">2.</span>
													<div class="ctnt">
														In the past five years, have you been:
														<br>
														<ul class="listinnevcondition">
															<li> hospitalized for more than 4 consecutive nights?</li>
															<li>
																unable to work for more than 3 consecutive days due to
																sickness (if you are not employed, have you consulted
																any medical doctor more than twice during the past 12
																months)?
															</li>
														</ul>
														<div class="form-row">
															<div class="col-md-3">
																<label class="radio-container">
																	Yes
																	<input type="radio"
																		   formControlName="healthCondition2"
																		   id="healthCondition21" value="Yes"> <span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-3">
																<label class="radio-container">
																	No
																	<input type="radio"
																		   formControlName="healthCondition2"
																		   id="healthCondition22" value="No">
																	<span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-12">
																<small class="errormsg"
																	   *ngIf="(submitted  || getQuoteForm.get('healthCondition').get('healthCondition2').dirty || getQuoteForm.get('healthCondition').get('healthCondition2').touched) &&  getQuoteForm.get('healthCondition').get('healthCondition2')?.errors">
																	This
																	is a required field
																</small>
															</div>
														</div>
													</div>
												</li>

												<li class="clearfix">
													<span class="numr">3.</span>
													<div class="ctnt">
														Are there 2 or more of your immediate family members (siblings,
														parents) who have been permanently disabled or have passed away
														before the age of 50 for any reason other than an accident?
														<div class="form-row">
															<div class="col-md-3">
																<label class="radio-container">
																	Yes
																	<input type="radio"
																		   formControlName="healthCondition3"
																		   id="healthCondition31" value="Yes"> <span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-3">
																<label class="radio-container">
																	No
																	<input type="radio"
																		   formControlName="healthCondition3"
																		   id="healthCondition32" value="No">
																	<span class="checkmark"></span>
																</label>
															</div>
															<div class="col-md-12">
																<small class="errormsg"
																	   *ngIf="(submitted  || getQuoteForm.get('healthCondition').get('healthCondition3').dirty || getQuoteForm.get('healthCondition').get('healthCondition3').touched) &&  getQuoteForm.get('healthCondition').get('healthCondition3')?.errors">
																	This
																	is a required field
																</small>
															</div>
														</div>
													</div>
												</li>

												<li style="margin-top: 8rem;padding-left: 0;position: relative;top: -2.1rem;display: inline-table;" class="clearfix">
													<span class="numr"></span>
													<div class="ctnt">
														<label class="radio-container" style="margin-bottom: 0.1rem !important;">
															<input type="checkbox" formControlName="privacyPolicy" id="healthCondition31" value="Yes">
															<span class="checkmark"></span>
														</label>
														<div style="margin-left: 42px;">
															<span>
																In line with my use of the InLife Store website, I hereby authorize InLife to process my personal and sensitive information in accordance with the
																<a id="pp" style="color:#e43e25" [href]="sanitize(privacyFile)" download="download">Privacy Policy</a> given.
															</span>

															<div class="form-row">
																<div class="col-md-12">
																	<small class="errormsg" *ngIf="(submitted || getQuoteForm.get('healthCondition').get('privacyPolicy').dirty || getQuoteForm.get('healthCondition').get('privacyPolicy').touched) &&  getQuoteForm.get('healthCondition').get('privacyPolicy')?.errors">
																		This is a required field
																	</small>
																</div>
															</div>
														</div>
													</div>
												</li>

											</ul>
											<div class="form-row">
												<div class="col-12">
													<div class="btnsec text-right">
														<button class="btn" [disabled]="!getQuoteForm.get('healthCondition')?.valid">
															Continue to apply
															<i class="material-icons">arrow_forward</i>
														</button>
													</div>
												</div>
											</div>

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-3 tabfull p-0 roghtwrapsection-wrapper">
			<app-inner-sidebar></app-inner-sidebar>
		</div>

	</div>

</div>
