@model ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-title">Create New Product</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div style="width:150px;height:150px;"> <img id="pro_img" style="width:100%;border:solid" /> </div>
                    <div class="col-md-12">
                        <form asp-action="Create" enctype="multipart/form-data" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p style="text-align:center;"><span style="color:red;"><b>@ViewBag.error</b></span></p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Product Image</label>
                                            <input type="file" title="search image" class="form-control" id="file" name="file" accept="image/*" onchange="imageUpload(this, 'ProductImg', 'pro_img', 'fileError')" required data-validation-required-message="Product Image is Required" />
                                            <input type="hidden" asp-for="ProductImg" required />
                                            <span asp-validation-for="ProductImg" class="text-danger"></span><span style="display:none;" id="fileError" class="text-danger">Please upload a png , jpg or jpeg Image</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Product Name</label>
                                            <input asp-for="ProductName" class="form-control" placeholder="Enter Product Name" required data-validation-required-message="Product Name is required" />
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Product Code</label>
                                            <input asp-for="ProductCode" class="form-control" placeholder="Enter Product Code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Product Price</label>
                                            <input asp-for="ProductPrice" class="form-control" placeholder="Enter Product Price" required data-validation-required-message="Product Price is required" />
                                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Product Price With Offer</label>
                                            <input asp-for="PriceWithOffer" class="form-control" placeholder="Enter Product Price With Offer" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Sort Number</label>
                                            <input asp-for="SortNum" class="form-control" placeholder="Enter Sort Number" required data-validation-required-message="Sort Number is required" />
                                            <span asp-validation-for="SortNum" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea name="ShortDescription" id="summernote"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" onclick="myValidation()" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pull-right">
                                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function show(input) {
        if (ValidateFile()) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    var imgdata = e.target.result;
                    $('#pro_img').attr('src', imgdata);
                    $('#ProductImg').val(imgdata);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    }

    $(document).ready(function () {
        $('#summernote').summernote();
    });

    function ValidateFile() {
        var ext = $('#file').val().split('.').pop().toLowerCase();
        if (ext == 'png') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else if (ext == 'jpg') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else if (ext == 'jpeg') {
            $("#fileError").hide();
            $("#file").removeClass("invalid");
            return true;
        }
        else {
            $("#fileError").show();
            $("#file").addClass("invalid");
            $('#hero_img').attr('src', "");
            return false;
        }
    }

    function myValidation() {
        if (ValidateFile() == false) {
            event.preventDefault();
            return false;
        }
    }
</script>
