.section-header {
    color: #070752;
}
p.sub-title {
    color: #42414d!important;
    line-height: 1.6;
}
input.c-large {
    text-align: center;
    font-size: 35px!important;
    font-weight: 600;
}
.submit-btn {
    min-width: 350px;
    text-align: center;
}
.pending-text-box {
    background-color: #f6f7f9;
    height: 80px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border: 2px solid #d7d9da;
    font-weight: 400;
    color: black;

}

@mixin main-style-group-application-status {
    .application-status-section {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
        }
    }
    
    @media (min-width: 1025px) {
        .application-status-section {
            padding: 15px 0 !important;
        }
    }
    
    @media (max-width: 600px) {
        .application-status-section {
            padding-top: 30px !important;
        }
    }
}