@model InLifeCMS.ViewModel.PrimeCareViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-title">Add New Prime care File</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="col-md-12">
                        <form asp-action="Create" enctype="multipart/form-data" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <p style="text-align:center;"><span style="color:red;"><b>@ViewBag.error</b></span></p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Prime Care File</label>
                                            <input type="file" title="search file" class="form-control" id="file" name="file" required data-validation-required-message="Prime Care File Is Required" />
                                            <span asp-validation-for="strPrimeCareFile" class="text-danger"></span><span style="display:none;" id="fileError" class="text-danger">Please upload a pdf file</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">Prime Care File Name</label>
                                            <input asp-for="strPrimeCareFileName" class="form-control" placeholder="Enter Prime Care File Name" required data-validation-required-message="Prime Care File Name is required" />
                                            <span asp-validation-for="strPrimeCareFileName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label class="control-label text-secondary">File Description</label>
                                            <input asp-for="strPrimeCareFileDescription" class="form-control" placeholder="Enter File Description" required data-validation-required-message="File Description is required" />
                                            <span asp-validation-for="strPrimeCareFileDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" onclick="myValidation()" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pull-right">
                                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ValidateFile() {
        var ext = $('#file').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['pdf']) == -1) {
                $("#fileError").show();
                $("#file").addClass("invalid");
                return false;
            } else {
                $("#fileError").hide();
                $("#file").removeClass("invalid");
                return true;
            }
    }

    function myValidation() {
        if (ValidateFile()== false) {
            event.preventDefault();
            return false;
        }
    }
</script> 