<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="author" content="Projectgrey - www.projectgrey.net" />
		<meta name="keywords" content="Insular, InLife, Insurance, PrimeCare, PrimeSecure" />
		<meta name="description" content="" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">

		<title>@ViewData["Title"] | InLife Store Identity</title>

		<link rel="icon" type="image/x-icon" href="~/favicon.ico">
		<link rel="icon" sizes="128x128" href="~/img/icon-logo-128x128.png" />
		<link rel="icon" sizes="192x192" href="~/img/icon-logo-192x192.png" />
		<link rel="apple-touch-icon" href="~/img/icon-logo-80x80.png">
		<link rel="apple-touch-icon" sizes="152x152" href="~/img/icon-logo-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="~/img/icon-logo-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="~/img/icon-logo-180x180.png">

		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" />

		@RenderSection("styles", required: false)
	</head>
	<body>
		@RenderBody()

		<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

		@RenderSection("scripts", required: false)
	</body>
</html>
