<header class="pageheader custompading">
	<div class="row m-0">
		<div class="col-md-2 p-0">
			<div class="logo-sec"><a href="#"><img src="assets/images/logo.png"></a></div>
		</div>
		<div class="col-md-8 p-0">
			<div class="pagenav">
				<ul class="mainnav">
					<li>   <a href="prime-care">Personal</a></li>
					<li>  <a href="#">Group & Business      </a></li>
					<li> <a href="#">Contact Us     </a></li>
					<li> <a href="#">InLife Main Site</a>      </li>
				</ul>
			</div>
		</div>
		<div class="col-md-2 p-0"></div>
	</div>
</header>

<div class="belowheadertitle">
	<div class="custompading">
		<div class="pagetitel-sec"><h3>Prime Care</h3></div>
	</div>
</div>


<div class="mainpagewrap">
	<div class="row m-0">
		<div class="col-md-2"></div>
		<div class="col-md-8 p-0">
			<div class="leftwrapsection">
				<div class="mainwizard">
					<div class="row">

						<div class="col-md-12">
							<div class="stepdetail">
								<div class="pagetitles">
									<h1>Thank you for your interest in Prime Care</h1>
									<h5>
										Upon evaluation of the answers that you have provided, we would like to offer
										other health insurance product options. Please expect an InLife representative
										to get in touch with you through the contact information you have indicated.
									</h5>
									<h5>Check out other InLife Health products:</h5>

								</div>

								<div class="wealth-section">
									<div class="row">
										<div class="col-md-4">
											<div class="wealth-box">
												<div class="img-box"><img src="assets/images/w1.jpg"></div>
												<div class="box-content">
													<h5>Wealth Assure Health</h5>
													<p>
														Free yourself from worrying about expensive health-related
														expenses and treatment of serious illnesses.
													</p>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="wealth-box">
												<div class="img-box"><img src="assets/images/w2.jpg"></div>
												<div class="box-content">
													<h5>Wealth Secure Health </h5>
													<p>Have funds to shoulder health-related expenses.</p>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="wealth-box">
												<div class="img-box"><img src="assets/images/w3.jpg"></div>
												<div class="box-content">
													<h5>She Cares by Sheroes </h5>
													<p>
														A 3-in-1 solution that addresses the unique health, protection,
														and investment needs of the Filipina
													</p>
												</div>
											</div>
										</div>

									</div>

								</div>


							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-2 p-0">
		</div>
	</div>

</div>

<div class="footer-main">
	<div class="custompading">
		<div class="row">
			<div class="col-md-6">
				<div class="logof-copy">
					<img src="assets/images/logo.png">
					<p>&copy; 2020 Insular Life Assurance Company Ltd.</p>

				</div>
			</div>
			<div class="col-md-2">
				<ul class="footlink">
					<li><a href="#">InLife Corproate Website  </a></li>
					<li><a href="#">Insurance Commission</a></li>
					<li><a href="#">Customer Charter</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="footlink">
					<li><a href="#">Terms and Conditions  </a></li>
					<li><a href="#">Privacy Policy     </a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<div class="footsocial"><a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
			</div>
		</div>

	</div>

</div>