<div class="mainpagewrap">
	<div class="row m-0">
		<div class="col-md-12 p-0">
			<div class="mainwrapper">
				<div class="logotitlebar">
					<div class="row">
						<div class="col-md-12">
							<div class="logo-sec text-center"><a href="javascript:void(0)"><img width="200px" src="assets/images/logo.png"></a></div>
						</div>
					</div>
				</div>

				<div class="mainwizard">
					<div class="row">
						<div class="col-md-12">
							<div class="stepdetail">
								<div class="pagetitles">
									<h1>{{text}}</h1>
									<br />
									<h5>
										Please try again.
										Go back to
										<a href="javascript:void(0)" (click)="routeToSpecificPage()">Plan Summary</a>
										page or to
										<a href="javascript:void(0)" (click)="routeToHomePage()">InLife Online Store Home</a>
										page.
									</h5>
								</div>

								<!-- step9 strat -->

								<div class="formcoantiner step9">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
