<main>
	<section class="section application-status-section">
		<div class="container">
            <main class="d-flex flex-column align-items-center group-payment-confirm">
				<h2 class="section-header wow fadeInUp">
					Your InLife Group Application has been <br>
				</h2>
				<div class="payment-confirmation-textbox cursor-pointer mt-5">
					FORWARDED TO INLIFE'S CORPORATE SOLUTIONS
				</div>
				<p class="sub-title wow fadeInUp">
					If you have any queries and other concerns, you may reach us thru e-mail:<br> <a href="mailto:corporatesolutions@insular.com.ph">corporatesolutions@insular.com.ph</a> or landline 02 8878 1841.
				</p>
				<p class="sub-title wow fadeInUp">You may also want to check out the InLife group products <a href="https://www.insularlife.com.ph/group-insurance" target="_blank">here</a></p>
				<div class="d-flex flex-row controls">
					<button class="btn-outline wow fadeInUp" (click)="backToHome()">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						<span class="ml-4">back to home page</span>
					</button>
				</div>
			</main>
        </div>
    </section>
</main>

