
.datepicker-custom{

    width: 100%;
}
mat-datepicker-toggle.mat-datepicker-toggle{
    position: absolute;
    right: 1.4%;
    padding-top: 1%;
    padding-right: 1%;
}
.uploadfilecontainer {

    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #111111;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    /* background-color: #9ecbec !important; */
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #111111;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.errormsgs{
    position: absolute;
    bottom: 0px;
    color: #e43e25;
    width: 100%;
    font-size: 80%;
    font-weight: 400;
}

.identity-document-preview
{
	position: relative;
	display:block;
	padding:10px;
	background:#ccc;
	text-align:center;
}

.identity-document-preview > img
{
	display:block;
	width:100%;
}

.identity-document-preview > button
{
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	width:40px;
	height:40px;
	border:none;
	border-radius:0;
	background:#e43e25;
	color:#fff;
}
